In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [2]:
file_to_load = "shark_attacks.csv"
df = pd.read_csv(file_to_load)
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-18,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,9-Jun-18,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,8-Jun-18,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,4-Jun-18,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
#Drop data before 1975
df_1975 = df[df["Year"]>=1975]
df_1975.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-18,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,9-Jun-18,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,8-Jun-18,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,4-Jun-18,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4]:
#Case Number is a better date indicator than other date column, the following code is meant to take the Case Number
# create a new column out of it and convert it to a date format
# first bit of code is to remove dates that have no month/day, just year
df_1975['Attack Date'] = df_1975["Case Number"].str.contains("00.00")==False
df_1975_clean = df_1975[df_1975['Attack Date']==True]

#this removes the extra digits on the case number, i.e. if multiple happened one day they are appended with a suffix of a,b,c
df_1975_clean['Attack Date'] = df_1975_clean['Case Number'].str[:10]
df_1975_clean

<ipython-input-4-61b7f443faa1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1975['Attack Date'] = df_1975["Case Number"].str.contains("00.00")==False
<ipython-input-4-61b7f443faa1>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1975_clean['Attack Date'] = df_1975_clean['Case Number'].str[:10]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,Attack Date
0,2018.06.25,25-Jun-18,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,2018.06.25
1,2018.06.18,18-Jun-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,2018.06.18
2,2018.06.09,9-Jun-18,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,2018.06.09
3,2018.06.08,8-Jun-18,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,2018.06.08
4,2018.06.04,4-Jun-18,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,2018.06.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3240,1975.02.10,10-Feb-75,1975.0,Unprovoked,AUSTRALIA,South Australia,(Point Sinclair) Penong,Swimming underwater from crayfish cage to a fi...,Wade Shipard,M,...,"A. Sharpe, pp.124-125; Sydney Morning Herald,...",1975.02.10-Shipard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.02.10,1975.02.10,3063.0,NaN,NaN,1975.02.10
3241,1975.02.09,9-Feb-75,1975.0,Unprovoked,AUSTRALIA,Victoria,Anglesea,Crayfishing,John Lear,M,...,"The Age, 2/11/1975",1975.02.09-Lear.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.02.09,1975.02.09,3062.0,NaN,NaN,1975.02.09
3242,1975.02.07,7-Feb-75,1975.0,Unprovoked,AUSTRALIA,Queensland,Currumbin Rock,NaN,M. Worman,M,...,"J. Green, p. 36",1975.02.07-Worman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.02.07,1975.02.07,3061.0,NaN,NaN,1975.02.07
3243,1975.02.01,1-Feb-75,1975.0,Provoked,SOUTH AFRICA,Western Cape Province,"Beespens, False Bay",Fishing,Gerhard Visser,M,...,"The Argus, 2/3/1975",1975.02.01-Visser.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.02.01,1975.02.01,3060.0,NaN,NaN,1975.02.01
3244,1975.01.19,19-Jan-75,1975.0,Unprovoked,AUSTRALIA,South Australia,Coffin Bay,Surfing,David Barrowman,M,...,"J. West; Adelaide Advertiser, 1/20/1975; P. Ke...",1975.01.19-Barrowman.pdf,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.01.19,1975.01.19,3059.0,NaN,NaN,1975.01.19

In [5]:
#replacing the periods with hyphens, hoping this can be used to create a date format later
df_1975_clean['Attack Date'] = df_1975_clean['Attack Date'].str.replace('.','-')
df_1975_clean

<ipython-input-5-5c6c0ced3f84>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_1975_clean['Attack Date'] = df_1975_clean['Attack Date'].str.replace('.','-')
<ipython-input-5-5c6c0ced3f84>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1975_clean['Attack Date'] = df_1975_clean['Attack Date'].str.replace('.','-')

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,Attack Date
0,2018.06.25,25-Jun-18,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,2018-06-25
1,2018.06.18,18-Jun-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,2018-06-18
2,2018.06.09,9-Jun-18,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,2018-06-09
3,2018.06.08,8-Jun-18,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,2018-06-08
4,2018.06.04,4-Jun-18,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,2018-06-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3240,1975.02.10,10-Feb-75,1975.0,Unprovoked,AUSTRALIA,South Australia,(Point Sinclair) Penong,Swimming underwater from crayfish cage to a fi...,Wade Shipard,M,...,"A. Sharpe, pp.124-125; Sydney Morning Herald,...",1975.02.10-Shipard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.02.10,1975.02.10,3063.0,NaN,NaN,1975-02-10
3241,1975.02.09,9-Feb-75,1975.0,Unprovoked,AUSTRALIA,Victoria,Anglesea,Crayfishing,John Lear,M,...,"The Age, 2/11/1975",1975.02.09-Lear.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.02.09,1975.02.09,3062.0,NaN,NaN,1975-02-09
3242,1975.02.07,7-Feb-75,1975.0,Unprovoked,AUSTRALIA,Queensland,Currumbin Rock,NaN,M. Worman,M,...,"J. Green, p. 36",1975.02.07-Worman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.02.07,1975.02.07,3061.0,NaN,NaN,1975-02-07
3243,1975.02.01,1-Feb-75,1975.0,Provoked,SOUTH AFRICA,Western Cape Province,"Beespens, False Bay",Fishing,Gerhard Visser,M,...,"The Argus, 2/3/1975",1975.02.01-Visser.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.02.01,1975.02.01,3060.0,NaN,NaN,1975-02-01
3244,1975.01.19,19-Jan-75,1975.0,Unprovoked,AUSTRALIA,South Australia,Coffin Bay,Surfing,David Barrowman,M,...,"J. West; Adelaide Advertiser, 1/20/1975; P. Ke...",1975.01.19-Barrowman.pdf,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.01.19,1975.01.19,3059.0,NaN,NaN,1975-01-19

In [6]:
#create a new dataframe with only the important columns ##NOTE. this could probably be done earlier.
shark_trim = df_1975_clean[["Attack Date","Year","Type","Country","Area","Location","Activity","Sex ","Age","Injury","Fatal (Y/N)","Species "]]
shark_trim

,Attack Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Species
0,2018-06-25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,2018-06-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,NaN
2,2018-06-09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,2018-06-08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark
4,2018-06-04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...,...,...
3240,1975-02-10,1975.0,Unprovoked,AUSTRALIA,South Australia,(Point Sinclair) Penong,Swimming underwater from crayfish cage to a fi...,M,12,Right leg severed FATAL,Y,"White shark, 3 m [10']"
3241,1975-02-09,1975.0,Unprovoked,AUSTRALIA,Victoria,Anglesea,Crayfishing,M,45,Puncture wounds to right shoulder,N,"Carpet shark, 10'"
3242,1975-02-07,1975.0,Unprovoked,AUSTRALIA,Queensland,Currumbin Rock,NaN,M,NaN,Survived,N,NaN
3243,1975-02-01,1975.0,Provoked,SOUTH AFRICA,Western Cape Province,"Beespens, False Bay",Fishing,M,12,Foot bitten by shark he was gaffing PROVOKED ...,N,"Copper shark, 50-kg [110-b]"
3244,1975-01-19,1975.0,Unprovoked,AUSTRALIA,South Australia,Coffin Bay,Surfing,M,17,"FATAL, body not recovered",Y,NaN

In [7]:
shark_trim["Type"].value_counts()
#need to harmonize the Boating, Boat, Boatomg into Boating // maybe make "Invalid" and "Questionable" to "Unknown Activity"

Unprovoked      2499
Invalid          260
Provoked         232
Boating           91
Boat              61
Sea Disaster      44
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [8]:
shark_trim["Country"].unique()
#This looks OK, probably a few to clean up like "South China Sea", maybe we can compare to a countries of the world?

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'TUNISIA', 'NAMIBIA', 'BERMUDA',
       'PORTUGAL', 'SOUTH CHINA SEA', 'BANGLADESH'], dtype=object)

In [9]:
#definite opportunity to clean this up
shark_trim["Activity"].value_counts()

Surfing                                          906
Swimming                                         398
Spearfishing                                     197
Fishing                                          160
Wading                                           104
                                                ...
Swimming with boogie board                         1
Diving & force-feeding the shark                   1
Standing, stepped on shark                         1
Towing rubber dinghy                               1
Watching the shark feeding on a dead pinniped      1
Name: Activity, Length: 545, dtype: int64

In [10]:
#species may need an extra bit of work to be done, we may need to create a generic shark based on "most likely in area" or by "Size"
shark_trim["Species "].value_counts()

White shark                                           110
Shark involvement not confirmed                        67
Shark involvement prior to death was not confirmed     54
Tiger shark                                            46
Invalid                                                41
                                                     ...
2.5 oceanic whitetip shark                              1
2.7 m  [9'] shark                                       1
7' female shark                                         1
Raggedtooth shark                                       1
Remains recovered from 5.5 m [18'] white shark          1
Name: Species , Length: 1003, dtype: int64

In [11]:
shark_trim["Fatal (Y/N)"].value_counts()
# need to just move all the randos into unknown or make a call to make them "N" if they are unknown?

N          2595
Y           329
UNKNOWN      20
2017          1
M             1
Name: Fatal (Y/N), dtype: int64

In [12]:
#is there a way to use this DF to do the replace based on the string? like change all these to Surfing?
surfs_up = shark_trim[shark_trim['Activity'].str.contains('Surf', na=False)]
surfs_up['Activity'].value_counts()

Surfing                                                906
Surf-skiing                                             10
Surfing (sitting on his board)                           7
Surf skiing                                              7
Surf fishing                                             7
Kite Surfing                                             6
Surf skiing                                              6
Surfing                                                  4
Surfing, paddling seawards                               3
Surfing, collided with shark                             2
Surfing (lying prone on his board)                       2
Standing / Surfing                                       2
Surfing, sitting on board                                1
Fishing from Surfboard                                   1
Surf paddling                                            1
Surfing / treading water                                 1
Surfing (or sailboarding)                                1
Night Surfing                                            1
Surfing amid a shoal of sharks                           1
Wading / Surfing                                         1
Surfing / Wading                                         1
Surfing & filming dolphins                               1
Surfing, lying on surfboard                              1
Surfing, fell off surfboard                              1
Surfing or body surfing                                  1
Surfing / Swimming                                       1
Surf fishing / wading                                    1
Swimming / Body Surfing                                  1
Surfng                                                   1
Surfing with dolphins                                    1
Surfing (or body boarding)                               1
Boogie boarding or Surfing                               1
Treading water/ Surfing                                  1
Surfing, fell off surfboard & stepped on the shark.      1
Surfing, paddling shorewards                             1
Surfing & dangling foot in water amid baitfish           1
Surfing, but standing in water alongside board           1
Surfing, but lying prone on his board                    1
Name: Activity, dtype: int64

In [13]:
#is there a way to use this DF to do the replace based on the string? like change all these to Swimming?
swim = shark_trim[shark_trim['Activity'].str.contains('Swim', na=False)]
swim['Activity'].value_counts()

Swimming                                                                 398
Swimming                                                                  14
Swimming from the New Venture                                              2
Swimming / snorkeling                                                      2
Swimming / Wading                                                          2
Swimming or surfing                                                        2
Swimming alongside NOAA research vessel Discoverer                         2
Swimming /  Whale Watching                                                 1
Swimming out to porpoises                                                  1
Swimming / shipwreck                                                       1
Swimming, towing surfboard                                                 1
Swimming, wearing black wetsuit & swim fins                                1
Swimming from makeshift raft  to life vest after fishing boat sank         1
Swimming back from anchored sailboat                                       1
Swimming / jumping off a jetty                                             1
Swimming with mask & snorkel                                               1
Swimming after being swept into sea by a large wave                        1
Swimming, poaching perlemoen                                               1
Swimming behind sailboat                                                   1
Swimming with pod of dolphins                                              1
Swimming to shore from capsized kayak                                      1
Swimming, attempting to rescue a girl  believed to be drowning             1
Swimming in canal                                                          1
Swimming breast stoke                                                      1
Swimming, poaching abalone                                                 1
Swimming or boogie boarding                                                1
Swimming to shore with floatioon devices after boat engine conked out      1
Swimming near pod of whales                                                1
Swimming / treading water                                                  1
Swimming / Body surfing                                                    1
Swimming to shore from boat or kayak                                       1
Swimming / Body Surfing                                                    1
Surfing / Swimming                                                         1
Swimming (using a float)                                                   1
Swimming & snorkeling                                                      1
Swimming or paddle boarding                                                1
Swimming in strong current with 3 others when he disappeared               1
Swimming after falling overboard                                           1
Swimming after boat became disabled                                        1
Swimming with dolphins                                                     1
Swimming, after single-engine aircraft went down in the sea                1
Swimming or Snorkeling                                                     1
Swimming / surfing                                                         1
Swimming or snorkeling                                                     1
Swimming, towing a kayak                                                   1
Swimming, after falling off towed kneeboard                                1
Swimming near his boat                                                     1
Swimming /  boogie boarding                                                1
Swimming from shore to anchored sailboat                                   1
Swimming in fish tank                                                      1
Swimming with boogie board                                                 1
Swimming underwater from crayfish cage to a fishing bait                   1
Name: Activity, dtype: int64

In [14]:
#can we loop through this somehow and pull for like Tiger, White, Bull, etc?
shark_types = shark_trim[shark_trim['Species '].str.contains('White', na=False)]
shark_types['Species '].value_counts()

White shark                                 110
White shark, 3.5 m                            6
White shark, 8' to 10'                        4
White shark, 5 m [16.5']                      4
White shark, 4 m [13']                        4
                                           ...
White shark, 14' to 16'                       1
White shark, 5.8 m [19']                      1
White shark, 10' to 12'                       1
White shark, identification by K. Nakaya      1
White shark, 3 m to 5 m [10' to 16.5']        1
Name: Species , Length: 112, dtype: int64

In [15]:
#Simple replace for the Type
shark_trim["Type"] = shark_trim.loc[:,"Type"].replace(
    {"Boat": "Boating",
     "Boatomg": "Boating",
     "Questionable":"Unknown",
     "Invalid":"Unknown"})
shark_trim["Type"].value_counts()

<ipython-input-15-7ee230950053>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_trim["Type"] = shark_trim.loc[:,"Type"].replace(

Unprovoked      2499
Unknown          262
Provoked         232
Boating          153
Sea Disaster      44
Name: Type, dtype: int64

In [16]:
#Trying to figure out how to do the update by string characteristics as opposed ot just writing out each item like the Type
shark_trim.loc[shark_trim['Activity'].str.contains('surf', na =False,case=False), 'Activity'] = 'Surfing'
shark_trim["Activity"].value_counts()

C:\Users\tyler\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Surfing                                          1104
Swimming                                          398
Spearfishing                                      197
Fishing                                           160
Wading                                            104
                                                 ...
Wading near a fishing net                           1
Yacht race                                          1
Swimming with boogie board                          1
Diving & force-feeding the shark                    1
Watching the shark feeding on a dead pinniped       1
Name: Activity, Length: 453, dtype: int64

In [17]:
#Trying to figure out how to do the update by string characteristics as opposed ot just writing out each item like the Type
shark_trim.loc[shark_trim['Activity'].str.contains('swim', na =False,case=False), 'Activity'] = 'Swimming'
shark_trim["Activity"].value_counts()

Surfing                                                               1104
Swimming                                                               466
Spearfishing                                                           197
Fishing                                                                160
Wading                                                                 104
                                                                      ...
Water-skiing                                                             1
Diving & force-feeding the shark                                         1
Fell overboard  from the Taiwanese fishing trawler Lien Cheng Feu        1
Towing rubber dinghy                                                     1
Watching the shark feeding on a dead pinniped                            1
Name: Activity, Length: 403, dtype: int64

In [18]:
#Trying to figure out how to do the update by string characteristics as opposed ot just writing out each item like the Type
shark_trim.loc[shark_trim['Activity'].str.contains('fish', na =False,case=False), 'Activity'] = 'Fishing'
shark_trim["Activity"].value_counts()

Surfing                                             1104
Fishing                                              517
Swimming                                             466
Wading                                               104
Snorkeling                                            83
                                                    ...
Holding onto an inflatable boat                        1
Scientific research (Dr. Sonny Gruber's student)       1
p�cheur de bichiques                                   1
Splashing                                              1
Watching the shark feeding on a dead pinniped          1
Name: Activity, Length: 296, dtype: int64

In [19]:
#Trying to figure out how to do the update by string characteristics as opposed ot just writing out each item like the Type
shark_trim.loc[shark_trim['Activity'].str.contains('scuba', na =False,case=False), 'Activity'] = 'Scuba Diving'
shark_trim["Activity"].value_counts()

Surfing                                             1104
Fishing                                              517
Swimming                                             466
Wading                                               104
Scuba Diving                                          87
                                                    ...
Scientific research (Dr. Sonny Gruber's student)       1
p�cheur de bichiques                                   1
Splashing                                              1
Watching seals                                         1
Watching the shark feeding on a dead pinniped          1
Name: Activity, Length: 283, dtype: int64

In [20]:
shark_trim_df = pd.DataFrame(shark_trim["Activity"].value_counts())
shark_trim_df.reset_index()
stg = shark_trim_df[shark_trim_df["Activity"]<100]
#pd.set_option('max_rows', None) 
stg
#contains board > Boarding (Boogie, Paddle, Body)
# SUP > Boarding
# floating > swimming
# treading water > swimming
# contains Diving > Diving

                                                  Activity
Scuba Diving                                            87
Snorkeling                                              83
Diving                                                  61
Body boarding                                           60
Standing                                                50
...                                                    ...
Scientific research (Dr. Sonny Gruber's student)         1
p�cheur de bichiques                                     1
Splashing                                                1
Watching seals                                           1
Watching the shark feeding on a dead pinniped            1

[279 rows x 1 columns]

In [21]:
#Trying to figure out how to do the update by string characteristics as opposed ot just writing out each item like the Type
board_types = shark_trim[shark_trim['Activity'].str.contains('board', na=False)]
shark_trim.loc[shark_trim['Activity'].str.contains('board', na =False,case=False), 'Activity'] = 'Boarding (Boogie, Paddle, Body)'
shark_trim["Activity"].value_counts()

C:\Users\tyler\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Surfing                                                  1104
Fishing                                                   517
Swimming                                                  466
Boarding (Boogie, Paddle, Body)                           153
Wading                                                    104
                                                         ...
Splashing                                                   1
Watching seals                                              1
Vessel caught fire & capsized, survivors in the water       1
Murder victim                                               1
Watching the shark feeding on a dead pinniped               1
Name: Activity, Length: 253, dtype: int64

In [22]:
#Trying to figure out how to do the update by string characteristics as opposed ot just writing out each item like the Type
dive_types = shark_trim[shark_trim['Activity'].str.contains('Diving', na=False, case=False)]
shark_trim.loc[shark_trim['Activity'].str.contains('diving', na =False,case=False), 'Activity'] = 'Diving'
shark_trim["Activity"].value_counts()

Surfing                                                  1104
Fishing                                                   517
Swimming                                                  466
Diving                                                    223
Boarding (Boogie, Paddle, Body)                           153
                                                         ...
Watching seals                                              1
Vessel caught fire & capsized, survivors in the water       1
Murder victim                                               1
Foundering of the Israeli freighter Mezada                  1
Watching the shark feeding on a dead pinniped               1
Name: Activity, Length: 203, dtype: int64

In [23]:
# wade_types = shark_trim[shark_trim['Activity'].str.contains('Wading', na=False, case=False)]
shark_trim.loc[shark_trim['Activity'].str.contains('Wading', na =False,case=False), 'Activity'] = 'Wading'
shark_trim["Activity"].value_counts()

Surfing                                                  1104
Fishing                                                   517
Swimming                                                  466
Diving                                                    223
Boarding (Boogie, Paddle, Body)                           153
                                                         ...
Splashing                                                   1
Watching seals                                              1
Vessel caught fire & capsized, survivors in the water       1
Murder victim                                               1
Watching the shark feeding on a dead pinniped               1
Name: Activity, Length: 197, dtype: int64

In [24]:
df2 = shark_trim["Activity"].value_counts().reset_index()
df3 = df2[df2["Activity"]<100] 
pd.set_option('max_rows', None) 
df3
# Sea Disaster and Sea disaster together
# bathing, floating > swimming

                                                 index  Activity
6                                           Snorkeling        83
7                                             Standing        50
8                                             Kayaking        33
9                                              Walking        13
10                                             Playing         7
11                                             Bathing         7
12                                            Canoeing         7
13                                        Sea disaster         7
14                                            Floating         6
15                                        Sea Disaster         5
16                                              Rowing         5
17                                             Jumping         4
18                                              Murder         4
19                                        Paddleskiing         4
20                                      Feeding sharks         4
21   Their 9 m launch was run down by a 25,000-ton ...         3
22                                      Tagging sharks         3
23      Competing in the Woodvale Atlantic Rowing Race         3
24                                                 SUP         3
25                                             Unknown         3
26                                      Treading water         3
27                                                Boat         3
28                                      Shark watching         2
29                                           Kayaking          2
30                                          Jet skiing         2
31                                    Lifesaving drill         2
32                               Jumped into the water         2
33                                Sitting in the water         2
34                                Transatlantic Rowing         2
35                      Finning the shark that bit him         2
36                                             Sailing         2
37                                     Teasing a shark         2
38   The Christie V sank on 11/6/1988, survivors we...         2
39                           Chumming for white sharks         1
40                                             Filming         1
41                                          Lobstering         1
42                                      Ferry capsized         1
43                                            Crawling         1
44                                    Washing his feet         1
45                                            Rescuing         1
46                                Towing rubber dinghy         1
47                          Standing, stepped on shark         1
48   The inter-island ferry Vula sank in heavy weather         1
49                                  Feeding stingrays?         1
50             Sitting in bow of her father's 5 m boat         1
51                                     Ferry boat sank         1
52                    Floating on a small orange raft          1
53                                 Conducting research         1
54                                        Water-skiing         1
55                                    2 boats capsized         1
56                                 In waist-deep water         1
57                Attempting to chase shark out to sea         1
58                                       Washing hands         1
59                          Playing in knee-deep water         1
60                           Sleeping in anchored boat         1
61   Observing a shark feeding on a carcass of a hu...         1
62                                          Yacht race         1
63                                            Crabbing         1
64                         Standing, holding shark pup         1
65                             Removing shark from net         1
66                               Kneeling in the water         1
67                                           Standing          1
68                            Reviving a sedated shark         1
69         Floating near boat & observing bioluminesce         1
70   Swept out to sea by the tsunami, she clung  to...         1
71                     Attempting to retreive a dinghy         1
72                        Playing with an air mattress         1
73   Sea disaster, foundering of the cargo vessle M...         1
74                      Attempting to attract dolphins         1
75              Removing shark from tank in nightclub          1
76                         Rowing an inflatable dinghy         1
77                                         Shipwrecked         1
78     Attempting to rescue an injured & beached shark         1
79                                 Hiking on the beach         1
80   Inspecting teeth of supposedly dead (hooked & ...         1
81   Explosion destroyed 28' boat, survivors in the...         1
82                                    Touching a shark         1
83                            Moving a shark in a net          1
84                                   Wrangling a shark         1
85                                           Shipwreck         1
86                                Jumping in the waves         1
87                                    Floating in tube         1
88                            Murdered by Thai pirates         1
89                                             Rowing          1
90               Floating face-down in knee-deep water         1
91                                       Shark tagging         1
92                                    Floating on raft         1
93                               Filming 5' blue shark         1
94                    Attempting to lasso shark's tail         1
95                      Standing, collecting sea stars         1
96                                          On a float         1
97   Attempting to drag hooked shark ashore by its ...         1
98   The MV Dona Marilyn sank in Typhoon Unsang wit...         1
99                             Photographing the shark         1
100                            Kayaking or Wave skiing         1
101               Snorkeling (filming the sardine run)         1
102                                 Playing / standing         1
103      Attempting to drive shark away from the beach         1
104                                       Air Disaster         1
105  Thrashing the water / imitating the shark vict...         1
106                   Sittting in water with his child         1
107                             Petting captive sharks         1
108                            Attempting to fix motor         1
109                                    Inflatable boat         1
110  3,909-ton Panamanian freighter Chieh Lee sank ...         1
111                                        NSB Meshing         1
112                               Fell onto dead shark         1
113                       Attempting to free the shark         1
114                Sinking of the ferryboat Bongbong 1         1
115                                      Night bathing         1
116              Attempting to illegally enter the USA         1
117                               Playing in the water         1
118                                           Stamding         1
119                                           Playing          1
120                                          Floating          1
121                                Walking in shallows         1
122                 Exercising his dog in the shallows         1
123                                           Cruising         1
124                            Collecting beche-de-mer         1
125                                     Boat capsized?         1
126                             Floating in inner tube         1
127                          Fell off aircraft carrier         1
128                               Playing on a sandbar         1
129                                    Dropping anchor         1
130                       Investigating shark sighting         1
131         Sailing on catamaran & fell into the water         1
132                              Standing / Snorkeling         1
133                  Jumped off rocks into white water         1
134                                Hand feeding sharks         1
135  Floating with life preserver after his boat fo...         1
136                   Feeding prawns to captive sharks         1
137                       Attempting to rescue a shark         1
138                             Standing in inner tube         1
139                                  Playing / jumping         1
140                                              Batin         1
141                        Floating on inner tube raft         1
142                               Floating on his back         1
143                                          Shrimping         1
144                                   Measuring sharks         1
145                                 Floating on a raft         1
146                     Floating on an inflatable raft         1
147                         Lying prone in 2' of water         1
148  Boeing 757 enroute from Porta Plata plunged in...         1
149               Sinking of the cargo ship Mark Jason         1
150                                                            1
151                                           Paddling         1
152                                    Killing  sharks         1
153                                      Casting a net         1
154                                  Catching sardines         1
155                        Playing soccer in the water         1
156                                         Racing ski         1
157  Ferry boat Dona Paz with 4431 passengers explo...         1
158                           Crouching in 2' of water         1
159                                    Petting a shark         1
160  Air disaster. Flash Airlines Boeing 737 crashe...         1
161                                Chumming for sharks         1
162                                      Paddle Skiing         1
163                        Grabbing shark for a selfie         1
164                           Riding floatation device         1
165                             Adrift on refugee raft         1
166  Accidentally stood on hooked shark's tail befo...         1
167                    Attempting to catch a crocodile         1
168                        Attempting to lasso a shark         1
169                           Floating on air mattress         1
170             Adrift after ditching plane in the sea         1
171                               Fell off banana boat         1
172                                    Touching sharks         1
173     Commercial diver (submerged or treading water)         1
174                                      Paddle-skiing         1
175                           Removing hook from shark         1
176  14 m prawn trawler New Venture capsized  & san...         1
177          Dragging stranded shark into deeper water         1
178                Dived naked into the water on a bet         1
179                                        Photo shoot         1
180                  Sinking of the ferryboat Don Juan         1
181            Returning to shore, collided with shark         1
182  Attempting to drive shark away from sailing re...         1
183                            Adrift in a life jacket         1
184                                           Kakaying         1
185                   Filming & feeding captive sharks         1
186  The 426-ton cargo ship Mia, laden with cement,...         1
187         Foundering of the Israeli freighter Mezada         1
188                                Fell into the water         1
189                    Holding onto an inflatable boat         1
190   Scientific research (Dr. Sonny Gruber's student)         1
191                               p�cheur de bichiques         1
192                                          Splashing         1
193                                     Watching seals         1
194  Vessel caught fire & capsized, survivors in th...         1
195                                      Murder victim         1
196      Watching the shark feeding on a dead pinniped         1

In [25]:
output_df = "clean_sharks.csv"
shark_trim.to_csv(output_df, encoding="utf-8", index=False)