In [41]:
# dependencies 
import pandas as pd
import numpy as np

In [42]:
# read CSV file 
file_to_load = "clean_sharks.csv"
victim_df = pd.read_csv(file_to_load)
victim_df.head()

,Attack Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Species
0,2018-06-25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,2018-06-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,NaN
2,2018-06-09,2018.0,Unknown,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,2018-06-08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark
4,2018-06-04,2018.0,Provoked,MEXICO,Colima,La Ticla,Diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"

In [44]:
# cleaning activities
victim_df.loc[victim_df['Activity'].str.contains('Float', na =False,case=False), 'Activity'] = 'Swimming'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('Snork', na =False,case=False), 'Activity'] = 'Swimming'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('tread', na =False,case=False), 'Activity'] = 'Swimming'
victim_df["Activity"].value_counts()

victim_df.loc[victim_df['Activity'].str.contains('Dive', na =False,case=False), 'Activity'] = 'Diving'
victim_df["Activity"].value_counts()

victim_df.loc[victim_df['Activity'].str.contains('Kayak', na =False,case=False), 'Activity'] = 'Kayaking'
victim_df["Activity"].value_counts()

victim_df.loc[victim_df['Activity'].str.contains('Ski', na =False,case=False), 'Activity'] = 'Boating'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('Boat', na =False,case=False), 'Activity'] = 'Boating'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('Row', na =False,case=False), 'Activity'] = 'Boating'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('sail', na =False,case=False), 'Activity'] = 'Boating'
victim_df["Activity"].value_counts()

victim_df.loc[victim_df['Activity'].str.contains('rac', na =False,case=False), 'Activity'] = 'Competition'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('compet', na =False,case=False), 'Activity'] = 'Competition'
victim_df["Activity"].value_counts()

victim_df.loc[victim_df['Activity'].str.contains('Rescue', na =False,case=False), 'Activity'] = 'Accident'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('Feeding', na =False,case=False), 'Activity'] = 'Accident'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('Free', na =False,case=False), 'Activity'] = 'Accident'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('Play', na =False,case=False), 'Activity'] = 'Accident'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('jump', na =False,case=False), 'Activity'] = 'Accident'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('film', na =False,case=False), 'Activity'] = 'Accident'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('research', na =False,case=False), 'Activity'] = 'Accident'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('anchor', na =False,case=False), 'Activity'] = 'Accident'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('drill', na =False,case=False), 'Activity'] = 'Accident'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('fell', na =False,case=False), 'Activity'] = 'Accident'
victim_df["Activity"].value_counts()

victim_df.loc[victim_df['Activity'].str.contains('Disaster', na =False,case=False), 'Activity'] = 'Disaster'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('tsunami', na =False,case=False), 'Activity'] = 'Disaster'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('capsi', na =False,case=False), 'Activity'] = 'Disaster'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('plung', na =False,case=False), 'Activity'] = 'Disaster'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('adrift', na =False,case=False), 'Activity'] = 'Disaster'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('murder', na =False,case=False), 'Activity'] = 'Disaster'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('sank', na =False,case=False), 'Activity'] = 'Disaster'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('passenger', na =False,case=False), 'Activity'] = 'Disaster'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('sink', na =False,case=False), 'Activity'] = 'Disaster'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('run down', na =False,case=False), 'Activity'] = 'Disaster'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('aircraft', na =False,case=False), 'Activity'] = 'Disaster'
victim_df["Activity"].value_counts()

victim_df.loc[victim_df['Activity'].str.contains('pet', na =False,case=False), 'Activity'] = 'Interacting with Shark'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('Rescue', na =False,case=False), 'Activity'] = 'Interacting with Shark'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('shark', na =False,case=False), 'Activity'] = 'Interacting with Shark'
victim_df["Activity"].value_counts()

victim_df.loc[victim_df['Activity'].str.contains('crab', na =False,case=False), 'Activity'] = 'Fishing (fish, lobster, crabs)'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('shrimp', na =False,case=False), 'Activity'] = 'Fishing (fish, shrimp, lobster, crabs)'
victim_df["Activity"].value_counts()

victim_df.loc[victim_df['Activity'].str.contains('stand', na =False,case=False), 'Activity'] = 'On Shore (wading, walking, sitting)'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('walk', na =False,case=False), 'Activity'] = 'On Shore'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('stam', na =False,case=False), 'Activity'] = 'On Shore'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('wash', na =False,case=False), 'Activity'] = 'On Shore'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('collect', na =False,case=False), 'Activity'] = 'On Shore'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('wading', na =False,case=False), 'Activity'] = 'On Shore'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('bath', na =False,case=False), 'Activity'] = 'On Shore'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('sit', na =False,case=False), 'Activity'] = 'On Shore'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('crouch', na =False,case=False), 'Activity'] = 'On Shore'
victim_df["Activity"].value_counts()
victim_df.loc[victim_df['Activity'].str.contains('crawl', na =False,case=False), 'Activity'] = 'On Shore'
victim_df["Activity"].value_counts()

Surfing                                       1104
Swimming                                       575
Fishing                                        517
Diving                                         225
On Shore                                       189
Boarding (Boogie, Paddle, Body)                153
Accident                                        46
Boating                                         42
Interacting with Shark                          41
Disaster                                        38
Kayaking                                        35
Canoeing                                         7
SUP                                              3
Unknown                                          3
Sitting in the water                             2
Attempting to fix motor                          1
                                                 1
Catching sardines                                1
Watching seals                                   1
Attempting to catch a crocodile                  1
Fishing (fish, lobster, crabs)                   1
Kneeling in the water                            1
NSB Meshing                                      1
pï¿½cheur de bichiques                             1
Hiking on the beach                              1
Kakaying                                         1
In waist-deep water                              1
Batin                                            1
Sittting in water with his child                 1
Foundering of the Israeli freighter Mezada       1
Towing rubber dinghy                             1
Exercising his dog in the shallows               1
Splashing                                        1
Casting a net                                    1
Crouching in 2' of water                         1
Lying prone in 2' of water                       1
Rescuing                                         1
Photo shoot                                      1
Fishing (fish, shrimp, lobster, crabs)           1
Attempting to retreive a dinghy                  1
Sinking of the cargo ship Mark Jason             1
Shipwreck                                        1
Lobstering                                       1
Shipwrecked                                      1
Paddling                                         1
Cruising                                         1
Attempting to illegally enter the USA            1
Crawling                                         1
Name: Activity, dtype: int64

In [38]:
activity_df=victim_df["Activity"].value_counts().reset_index()
activity_df[activity_df["Activity"]<100] 
pd.set_option('max_rows', None) 
activity_df

     index  Activity
0  Unknown      3013