In [1]:
# dependencies 
import pandas as pd
import numpy as np

In [4]:
# read CSV file 
file_to_load = "clean_sharks.csv"
victim_df = pd.read_csv(file_to_load)
victim_df.head()

        index  Activity
0  Snorkeling        83
1    Standing        50
2    Kayaking        33
3     Walking        13
4    Canoeing         7